/* Reference: w3schools - Link: https://www.w3schools.com/css/ */
body {margin:0;
  padding:0;
  background: white;
  font-family:Arial;
}
  
.logo img {
  position:absolute;
  margin-top:5px;
  margin-left:30px;
  height: 90px;
  background:white;
}

/* Reference: w3schools - Link: https://www.w3schools.com/css/css_navbar.asp */
.nav{
  width:100%;
  top:0;
  overflow:auto;
  background:white;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  float: right;
}
  
.nav a {
  width:100px;
  display:block;
  padding:30px 30px;
  text-decoration:none;
  font-family:Arial;
  font-size:20px;
  color:black;
  text-align:center;
 }
  
.nav a:hover{color:#fa762d;}

.main {
  padding: 24px 24px 24px 24px;
  margin: 30px 30px 30px 30px;
  background:#F8F8F8;
  text-align:center;
}

h2 {
  text-align:left;
  font-weight:normal;
  font-size:20px;
}
  
* {
  box-sizing: border-box;
}
  
.column {
  float: left;
  width:33.33%;
  padding:10px;
  height:300px;
  text-align:center;
}

.twoColumn {
  float: left;
  width:50%;
  padding:50px;
  text-align:center;
}  

.row:after {
  content: "";
  display:table;
  clear:both;
}

/* Reference: w3schools - Link: https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
  .twoColumn {
    width:100%;
  }
}
  
img {
    max-width:50%;
    height:auto;
    text-align:center;
    padding:10px;
    margin:10px;
}

/* Reference: w3schools - Link: https://www.w3schools.com/css/css3_buttons.asp */
.button {
  background-color:#fa762d;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: white; 
  color:#fa762d; 
  border: 2px solid #fa762d;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
}

.footer img {
  text-align:left;
  width: 50%;
}

h8 {
  font-size:32px;
  color:#fa762d;
}
  
.steps a:link, 
.steps a:visited,
.steps a:hover {
  color:#fa762d;
  text-decoration:none;
}

.white_main {
  padding: 24px 24px 24px 24px;
  margin: 30px 30px 30px 30px;
  background:white;
  text-align:center;
}
  
.white_main img {
  max-width: 100%;
  height: auto;
  text-align: center;
  padding: 10px;
  margin: 10px
}

/* Reference: ArcGIS JavaScript Tutorials: Display point, line, and polygon graphics - Link: https://developers.arcgis.com/labs/javascript/display-point-line-and-polygon-graphics/ */
/* Used to format the final web application in the webpage */ 
#viewDiv {
      height: 100%;
      width: 100%;
      top: 50px;
      left:50px;
      right: 100px;
      padding: 100px;
      margin: 0px;
      bottom:100px;
      position: fixed;
    }

h7 {
  text-align:left;
  font-weight:normal;
  font-size:20px;
}
